header li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header ul {
    margin-bottom: 0px;
}

header a {
    cursor: pointer;
}

header a:hover{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

header .logo {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    color: #edf0f1;
}

header .logo:hover{
    color: #edf0f1;
}

header .logo-mid {
    color: #00cc00;
}

header .logo-end {
    font-size: 10px;
}

header .nav-links {
    list-style: none;
}

header .nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav-links li a:hover {
    color: #00cc00;
}

header .contact {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 204, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

header .contact:hover {
    background-color: rgba(0, 204, 0, 0.8);
}

header .profile {
    margin-left: 15px;
}

header .profile img {
    width: 45px;
    height: 45px;
    border: none;
    background-color: none;
    border-radius: 50%;
    border: 2px solid #fff;
}

header .profile img:hover{
    box-shadow: 0 0 5px #fff;
}
