form .modal-body ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form .modal-body ul .candidate-image {
    width: 300px;
}

form .modal-body ul li img {
    max-width: 100%;
}

.modal-title {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.modal-title span {
    font-weight: 100;
    color: #d9d9d9;
}

form .modal-body ul li .candidate-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form .modal-body ul li .candidate-info p {
    font-weight: 100;
    margin-top: 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5%;
    /*background: #D3D3D3;*/
    background: #dee2e6;
    border: 0;
    border-radius: 1rem;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #00cc00;
}

.slider::-moz-range-thumb {
    border: 0;
    background: #00cc00;
}

.slider::-moz-range-track {
    border-radius: 1rem;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks label {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #d3d3d3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}
