<html>
    <head>
        <meta charset="utf-8" />
        {{ fontawesome_html() }}
        <title>EmQuemVotar - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/base-2.css">
        {% block stylesheet %}
            <link rel="stylesheet" href="../static/styles/navbar.css">
        {% endblock %}
    </head>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}" class="fade show" role="alert">
                    {{ message|capitalize }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


</html>
