<style>
    .alert.success {
        background-color: #d4edda;
    }
    .alert.error {
        background-color: #f8d7da;
    }
    .alert.warning {
        background-color: #fff3cd;
    }
</style>

<html>
    <head>
        <meta charset="utf-8" />
        {{
            fontawesome_html()
        }}
        <title>EmQuemVotar</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/styles/base.css" />
        {% block stylesheet %}
        <link rel="stylesheet" href="../static/styles/navbar.css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('index') }}">
                <span class="logo-begin">EMQUEM</span
                ><span class="logo-mid">VOTAR</span
                ><span class="logo-end">.com.br</span>
            </a>

            <nav>
                <ul class="nav-links list-unstyled">
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li>
                        <a href="{{ url_for('all_candidates') }}">Políticos</a>
                    </li>
                </ul>
            </nav>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <a
                    href="#"
                    class="profile"
                    id="profileDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <img
                        src="{{ url_for('static', filename='images/logo_verde-2.png') }}"
                    />
                </a>
                <div
                    class="dropdown-menu fade in"
                    aria-labelledby="profileDropdown"
                >
                    <a class="dropdown-item" href="{{ url_for('profile') }}"
                        >Perfil</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('logout') }}"
                        >Sair</a
                    >
                </div>
            </div>
            {% else %}
            <a class="cta" href="{{ url_for('login') }}"
                ><button class="contact">Entrar</button></a
            >
            {% endif %}
        </header>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        {% block content %} {% endblock %}

        <!--
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}" class="fade show" role="alert">
                        {{ message|capitalize }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                -->

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
