<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
    }
    .footer > .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .alert.success {
        background-color: #d4edda;
    }
    .alert.error {
        background-color: #f8d7da;
    }
    .alert.warning {
        background-color: #fff3cd;
    }

    body{
        font-size: 1.2rem !important;
    }
    body > .container{
        padding: 60px 15px 0;
    }
</style>

<html>
    <head>
        <meta charset="utf-8" />
        {{ fontawesome_html() }}
        <title>EmQuemVotar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/config.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='f_verde.png') }}"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='logo_branco.png') }}" width="30" height="30"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for('index') }}">Página Inicial <span class="sr-only">(current)</span></a>
                    <!--<a class="nav-item nav-link" href="#">Sobre</a>-->

                    {% if not current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Cadastrar</a>
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    {% endif %}


                    {% if current_user.is_authenticated %}
                    <a class="nav=item nav-link" href="{{ url_for('rate_candidates') }}">Avaliar Candidatos</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navDrop" role="button" data-toggle="dropdown">
                                {{ current_user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a class="dropdown-item" href="#">Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}" class="fade show" role="alert">
                        {{ message|capitalize }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <!--
        <footer class="footer">
            <div class="container">
                <span class="text-muted">
                    2019 &copy; Universidade do Estado do Amazonas - Todos os direitos reservados
                </span>
            </div>
        </footer>-->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
