{% extends 'base.html' %} {% block stylesheet %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/navbar.css')}}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/profile.css')}}"
/>
{% endblock %} {% block content %}

<div class="main-profile">
    <div class="welcome">
        <!-- <h2>Bem vindo <span>{{ current_user.full_name }}</span></h2> -->
        <div class="profile-image">
            <img
                src="{{ url_for('static', filename='images/logo_verde-2.png')}}"
            />
        </div>
    </div>

    <div class="main-tabs">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="user-list">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="#user_profile"
                            role="tab"
                            >Perfil</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#user_areas" role="tab"
                            >Áreas</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#user_candidates" role="tab"
                            >Candidatos</a
                        >
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="user_profile">
                        {% include 'profile_info.html' %}
                    </div>
                    <div class="tab-pane" id="user_areas">
                        {% include 'profile_areas.html' %}
                    </div>
                    <div class="tab-pane" id="user_candidates">
                        {% include 'profile_candidates.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#user-list a").on("click", function(e) {
        e.preventDefault();
        $(this).tab("show");
    });
</script>

{% endblock %}
