{% extends 'base.html' %}

{% block content %}

<style>
    .text-center{
        text-align: center !important;
    }
    .center-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    label {
        font-size: 30px;
    }
</style>

<div class="container">
    <br />
    <div class="text-center">
        <img src="{{ url_for('static', filename='f_verde.png')}}" width="140" height="120"/>
        <h4 style="padding: 5px; margin-bottom: 20px;"><strong>Avalie os seguintes candidatos conforme sua afinidade com cada um.</strong></h4>
    </div>

    <form action="" method="POST">
        {{ form.csrf_token }}

        <div class="card" style="width: 100%;">

            <div class="card-body">

                {% for field in form %}
                    {% if field.name != 'csrf_token' %}
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ url_for('static', filename=field.name + '.png') }}" width="400" height="400"/>
                            </div>
                            <div class="col-md-6">
                                <label><strong>{{ field.label }}</strong></label>
                                {{ field(type="range", class="custom-range", min="1", max="5", value="1") }}
                            </div>
                        </div>
                        <hr />
                    {% endif %}
                {% endfor %}

                <span style="float:right;"><button type="submit" class="btn btn-lg btn-success">Avaliar</button></span>
                <br />
            </div>
        </div>
    </form>
</div>

{% endblock %}
